.tabIcon {
  font-size: 22px;
}
.tabButton {
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.tabLabel {
  font-size: 10px;
  font-weight: bold;
}
